{% extends 'index.html' %}
{% load static %}


{% block mainbody %}

<section class="hero" id="introduction" style="min-height: 65vh;">

    <div class="columns is-flex-fullhd  is-align-content-center is-align-items-center">
        <div class="is-hidden-mobile" style="margin-left: 5%;"></div>

        <div class="column m-5 p-5">

            <div class="hr" style="width: 35%; border: 2px solid
                                #9F8B3B;"></div>
            <h1 class="is-size-3-fullhd is-size-4-tablet is-size-4-mobile title has-text-white
            has-text-weight-bold mt-5 pt-5">Nice
                To Meet You! I am<br/>Juan Lizarraga-Cortez</h1>


            <p class="text has-text-white mb-5 pb-5">I was born in Omaha, NE and raised
                in Council Bluffs, IA where I am currently based out of. I attended the
                University of Nebraska where in 2022 I received my bachelors of
                Computer Science. Outside my work I enjoy all sorts of activities,
                from being in the outdoors on a long run to peacefully watching a film.
            </p>

            <div class="hr" style="width: 100%; border: 1px solid
                                #9F8B3B; opacity: 0.55;"></div>


        </div>


        <div class="column has-text-centered">

            <img src="{% static 'me.jpg' %}" style="border-radius: 50%;" width="550"
                 height="550">

        </div>

    </div>

    <div class="columns is-flex-fullhd p-5 is-align-items-center
    has-text-centered-mobile">

        <div style="margin-left: 5%;" class="is-hidden-mobile"></div>


        <div class="column is-full is-flex-tablet p-5 m-5 has-text-centered">

            <div
                    class="is-full is-flex is-align-items-center pt-3 mt-1 is-justify-content-center">
                <h1 class="has-text-white is-size-2 has-text-weight-bold">3</h1>
                <h1 class="is-size-3 has-text-weight-bold ml-2" style="color: #9F8B3B;">
                    +</h1>
                <h1 class="title is-size-4 has-text-white
            has-text-weight-bold ">Years of
                    <br/>experience</h1>
            </div>

            <div class="spacing ml-5 pl-5 is-hidden-mobile"></div>

            <div
                    class="is-full is-flex is-align-items-center pt-3 mt-1 is-justify-content-center">
                <h1 class="has-text-white is-size-2 has-text-weight-bold">3</h1>
                <h1 class="is-size-3 has-text-weight-bold ml-2" style="color: #9F8B3B;">
                    +</h1>
                <h1 class="title is-size-4
                    has-text-white
            has-text-weight-bold ">Projects
                    <br/>completed</h1>
            </div>

        </div>

        <div class="column  p-0 m-0">

        </div>
    </div>


</section>


<section class="hero" id="my_story">

    <div class="columns p-0 is-align-content-center is-align-items-center">

        <div class="columns is-flex-fullhd m-5 p-5">

            <div id="image_container" class="has-text-centered-mobile">
                <img src="{% static 'my_story_1.jpeg' %}" width="550" height="550"
                     style="border-radius: 5%;">
            </div>

            <div class="is-hidden-mobile" style="margin-left: 5%;"></div>


            <div id="my_story_container" class="column is-two-fifths-fullhd
                is-half-tablet is-full-mobile">

                <div class="is-hidden-mobile" style="margin-top: 15%;"></div>

                <h1 class="title is-size-4 has-text-white
                    has-text-weight-bold has-text-left"><span style="color: #9F8B3B;
                    font-weight:
                    bold;"><</span> My
                    Story <span style="color: #9F8B3B; font-weight: bold;">\></span></h1>

                <h1 class="title is-size-4 has-text-white has-text-weight-bold">How I
                    Started My Web Development Journey.</h1>
                <p class="text has-text-white has-text-weight-bold">I began my web
                    development journey during my undergraduate tenure, where I elected
                    to take a course outside my plan of study. There I began
                    developing sophisticated websites and learned the power of the
                    technologies that run the web.
                </p>
            </div>
        </div>

    </div>


    <div class="columns p-0 is-align-content-center is-align-items-center">
        <div class="is-hidden-mobile" style="margin-left: 5%;"></div>


        <div class="columns is-flex-fullhd m-5 p-5">

            <div id="my_story_container" class="column is-two-fifths-fullhd
                is-half-tablet is-full-mobile">

                <div class="is-hidden-mobile" style="margin-top: 15%;"></div>

                <h1 class="title is-size-4 has-text-white
                    has-text-weight-bold"><span style="color: #9F8B3B; font-weight:
                    bold;"><</span> My
                    Story <span style="color: #9F8B3B; font-weight: bold;">\></span></h1>

                <h1 class="title is-size-4 has-text-white has-text-weight-bold">My
                    very first web development project.</h1>
                <p class="text has-text-white has-text-weight-bold">Like all
                    programmers alike my first web development project was a simple web
                    page that displayed "Hello World!". But my first real world project
                    in which the project was taken outside the usual classroom
                    context, was a nail salon scheduling web application. You can view
                    the project by following the link below.
                </p>

                <div id="button-container" class="has-text-centered mt-2">
                    <a class="button is-medium mt-3 has-text-weight-bold has-text-weight-white"
                            id="messageButton"
                            style="background-color:
                #BAA651; border: none; color: white;">View
                        Project</a>
                </div>

            </div>

            <div class="is-hidden-mobile" style="margin-left: 5%;"></div>

            <div class="" style="margin-top: 15%;"></div>


            <div id="image_container" class="has-text-centered-mobile">
                <img src="{% static 'my_story_2.jpeg' %}" width="550" height="550"
                     style="border-radius: 5%;">
            </div>
        </div>

    </div>

    <div class="column has-text-center">
        <div class="hr" style="width: 75%; margin-left: 12%; border: 3px solid
                                #9F8B3B; opacity: 0.55;"></div>
    </div>


</section>


<section class="hero" id="my_experience">

    <div id="text-block">

        <h1 class="title is-size-4 has-text-white
                    has-text-weight-bold p-3 m-3"><span style="color:
                    #9F8B3B;
                    font-weight:
                    bold;"><</span> My
            Experience <span style="color: #9F8B3B; font-weight: bold;">\></span></h1>
    </div>

    <div class="columns is-centered">
        <div
                class="column is-half-fullhd is-three-quarters-tablet is-full-mobile has-text-centered">

            <p class="subtitle has-text-white pl-3 m-5">"I have over 5 years of
                professional IT
                experience and I have completed 3+ professional freelance projects as
                well as various educational projects."</p>

            <div id="button_container" class="has-text-centered">
                <a class="button is-medium has-text-white p-5
                has-text-weight-bold"
                   href="{% url 'Home:contact_me' %}" style="background-color:
                #BAA651; border: none; font-family: Charter;">
                    Let's Talk!
                </a>
            </div>

        </div>

    </div>

    <div class="columns pl-5 is-centered">


        <div class="column is-half-fullhd is-flex-tablet is-full-mobile
            has-text-centered-mobile
            is-justify-content-center">


            <div id="skill_set" class="mt-5">
                <h1 class="title is-size-4" style="color: #BAA561;">Skill Set</h1>
                <div class="columns is-fullhd">
                    <div class="column is-fullhd has-text-weight-bold
                        is-justify-content-left">
                        <p class="text is-size-5 has-text-white">HTML5</p>
                        <p class="text has-text-white is-size-5">CSS3</p>
                        <p class="text has-text-white is-size-5">JavaScript</p>
                        <p class="text has-text-white is-size-5">SQL</p>
                    </div>
                    <div class="column is-fullhd has-text-weight-bold">
                        <p class="text is-size-5 has-text-white">Python</p>
                        <p class="text has-text-white is-size-5">Django</p>
                        <p class="text has-text-white is-size-5">Unix/Ubuntu</p>
                        <p class="text has-text-white is-size-5">AWS</p>

                    </div>
                </div>

            </div>

            <div class="column is-one-fifth-tablet is-one-fifth-fullhd
                is-hidden-mobile"></div>


            <div id="skill_set" class="mt-5">
                <h1 class="title is-size-4" style="color: #BAA561;">Top Clients</h1>
                <div class="columns is-fullhd">
                    <div class="column is-fullhd has-text-weight-bold">
                        <p class="text is-size-5 has-text-white">Remodeling Dreams
                            Construction</p>
                        <p class="text has-text-white is-size-5">Golden Auto Repair</p>
                    </div>

                </div>

            </div>


        </div>

    </div>


    <div id="education&credentials">
        <h1 class="title is-size-4 has-text-white
                    has-text-weight-bold p-3 m-3"><span style="color:
                    #9F8B3B;
                    font-weight:
                    bold;"><</span> My
            Experience <span style="color: #9F8B3B; font-weight: bold;">\></span></h1>

        <h1 class="title has-text-white has-text-weight-bold is-size-4 p-5 m-5">Past
            Education &
            Credentials</h1>

        <div class="columns is-flex-tablet is-align-items-center p-5 m-5"
             style="margin-left: 5%">
            <div class="column is-half">

                <p class="text has-text-white is-size-4 is-size-5-mobile">Omaha
                    University
                    <span
                            style="color: #BAA561; font-weight: bold;"> / </span>
                    Aug.
                    2018 -
                    Dec. 2022</p>
                <p class="text has-text-white is-size-4 is-size-5-mobile">B.S. Computer
                    Science</p>

                <p class="text has-text-white"></p>
            </div>

            <div class="column is-half has-text-centered">
                <img src="{% static 'uno_alum.png' %}" width="150" height="150">
            </div>
        </div>


        <div class="columns is-flex-tablet is-align-items-center p-5 m-5"
             style="margin-left: 5%">
            <div class="column is-half">

                <p class="text has-text-white is-size-4 is-size-5-mobile">Union Pacific
                    Railroad
                    <span
                            style="color: #BAA561; font-weight: bold;"> / </span> Dec.
                    2019 -
                    Dec. 2022</p>
                <p class="text has-text-white is-size-4 is-size-5-mobile">IT
                    Infrastructure Intern</p>

                <p class="text has-text-white"></p>
            </div>

            <div class="column is-half has-text-centered">
                <img src="{% static 'union_pacific_logo.png' %}" width="150" height="150">
            </div>
        </div>

    </div>

    <div class="column has-text-center">
        <div class="hr" style="width: 75%; margin-left: 12%; border: 3px solid
                                #9F8B3B; opacity: 0.55;"></div>
    </div>

</section>

{% endblock %}