{% extends 'index.html' %}
{% load static %}


{% block mainbody %}

    <section class="hero" style="margin-top: 5vh;">

        <div id="heading">
            <h1 class="title has-text-centered has-text-white">View Our Work Below</h1>
        </div>

        <div id="tabs" style="text-align: center; padding: 0;" class="mt-5">
            <!-- one tab for displaying professional work, and another for displaying
            undergraduate work.-->

            <!-- of course, we will want to give a description for each of them.-->

            <ul style="display: flex; align-items: center;
            justify-content: center;" class="has-text-white mt-5">

                <div id="professional_projects" class="tab" style="background-color:
                #BAA651; border-radius: 5px;"
                     class="m-1">
                    <li style="list-style-type: none;">
                        <a style="text-align: center; opacity: 0.33;"
                           href="{% url 'Home:professional_projects' %}">
                            <p class="text has-text-white p-2 ml-2 mr-2
                        has-text-weight-semibold">Professional</p>
                        </a>
                    </li>
                </div>

                &nbsp;


                <div class="tab"
                     style="background-color:
                #BAA651; border-radius: 5px;"
                     class="m-1">
                    <li style="list-style-type: none;">
                        <a href="{% url 'Home:educational_projects' %}">
                            <p class="text has-text-white p-2 ml-2 mr-2
                        has-text-centered has-text-weight-semibold">Educational</p>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </section>


    <section class="hero" id="our_work">
        <div class="p-5 columns is-centered-mobile is-centered-tablet is-centered-fullhd
        is-mobile
        is-flex-wrap-wrap is-justify-content-left-fullhd">

            <!-- for each project create a responsive card -->
            <!-- two-fifths for fullhd, four-fifths-tablet, and full for mobile -->
            {% for project in projects %}
                <div class="column is-one-quarter-fullhd is-two-fifths-widescreen
                is-two-fifths-desktop is-half-tablet is-full-mobile" id="messageButton">

                    <a href="{{ project.get_absolute_url }}" id="project">
                        <div class="card m-5" id="project" style="background-color:
                    #292929;
                    border-radius:
                    1%;">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img
                                            src="/media/{{ project.thumbnail }}"
                                            alt="Placeholder image"
                                    />
                                </figure>
                            </div>
                            <div class="card-content p-5">

                                <div class="media-content">
                                    <p class="title is-5 has-text-white
                                    has-text-weight-semibold has-text-centered"
                                       style="font-family: 'Charter';">
                                        {{ project.project_name }}
                                    </p>

                                    <div id="hr" style="content: ''; position: absolute;
                                            background-color:{{ project.accent_color }}; margin-top: 5px;
                                            height:
                                            2px; width: 50%; left: 25%;">
                                    </div>


                                </div>


                            </div>

                            <div class="content p-5 has-text-centered">

                                <div class="tags are-medium is-centered">
                                <span class="tag is-dark has-text-weight-semibold p-3"
                                >{{ project.tag_1 }}</span>
                                    <span class="tag is-dark has-text-weight-semibold p-3"
                                    >{{ project.tag_2 }}</span>
                                    <span class="tag is-dark has-text-weight-semibold p-3"
                                    >{{ project.tag_3 }}</span>
                                </div>


                            </div>
                        </div>
                    </a>

                </div>


            {% endfor %}

        </div>

    </section>


{% endblock %}